[user]
	name = Stéphane GAUTIER
	email = educatux@gmail.com
	signingkey = F2FB923B

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    rollback = reset HEAD^
    untrack = rm -r --cached
    glog = log --oneline --decorate

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
